[Unit]
Description=Stop Active Libvirt Guests
After=network.target libvirtd.service time-sync.target systemd-machined.target

[Service]
ExecStart=/bin/true
ExecStop=/usr/lib/libvirt/libvirt-stop-guests
TimeoutStopSec=60
Type=oneshot
RemainAfterExit=yes
StandardOutput=journal+console

[Install]
WantedBy=multi-user.target
